<a href="https://colab.research.google.com/github/pedroyepiz/pythonHOY/blob/main/01_2_FORMATEO_DE_SALIDA_EN_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![CABCERA PYTHON.png]()

# **FORMATO DE SALIDA  TIPOS DATOS BASICOS EN PYTHON**
El formato de salida en Python es la forma en que se presentan los datos en la consola o en un archivo de texto. La salida formateada es importante porque permite que los datos se muestren de manera legible y estructurada, lo que facilita su interpretación y análisis.

Python proporciona diferentes formas de formatear la salida, incluyendo el método de cadenas de formato, el operador de formato y la función de formato. Cada uno de estos métodos tiene sus propias ventajas y desventajas y se puede elegir según las necesidades específicas del programador.

La salida formateada también es importante para la comunicación con el usuario final de una aplicación. Un mensaje de error o un resultado incorrecto que se presenta en una salida poco clara o confusa puede generar confusión y frustración para el usuario. Por otro lado, una salida clara y bien formateada puede mejorar la experiencia del usuario y hacer que la aplicación sea más fácil de usar.

En resumen, el formato de salida en Python es importante porque permite que los datos se presenten de manera estructurada y legible, lo que facilita su interpretación y análisis, y mejora la experiencia del usuario final.

# **EL METODO  `format()`**

El método `format()` es una función de Python que se utiliza para dar formato a cadenas. Este método se utiliza con una cadena de formato que contiene marcadores de posición para los valores que deseas insertar en la cadena. Estos marcadores de posición se indican con llaves `{}`.

Puedes utilizar el método `format()` para incluir valores de diferentes tipos de datos en una cadena, como enteros, flotantes, cadenas, booleanos, etc. Además, el método `format()` te permite dar formato a los valores que insertas en la cadena, como el número de decimales, la justificación, el ancho del campo, etc.

## **EJEMPLOS CON `format()`**

In [ ]:
# Ejemplo 1: Insertar valores en una cadena
nombre = "Juan"
edad = 25
print("Mi nombre es {} y tengo {} años".format(nombre, edad))

Mi nombre es Juan y tengo 25 años

En el **ejemplo 1**, se utiliza el método format() para insertar los valores de `nombre` y `edad` en una cadena.

In [ ]:

# Ejemplo 2: Dar formato a un número
precio = 23.45
print("El precio es {:.2f} dólares".format(precio))

El precio es 23.45 dólares

En el **ejemplo 2**, se utiliza el método `format()` para dar formato al número `precio`, limitando el número de decimales a dos.

In [ ]:

# Ejemplo 3: Justificar a la izquierda
texto = "Hola"
print("{:<10} Mundo".format(texto))

Hola       Mundo

En el **ejemplo 3**, se utiliza el método `format()` para justificar la cadena `texto` a la izquierda y agregar espacios en blanco hasta alcanzar una longitud total de 10 caracteres.

In [ ]:

# Ejemplo 4: Justificar a la derecha y llenar con ceros
numero = 42
print("{:0>5}".format(numero))  # Salida: 00042

00042

En el **ejemplo 4**, se utiliza el método `format()` para justificar el número `numero` a la derecha y agregar ceros a la izquierda hasta alcanzar una longitud total de 5 caracteres.

In [ ]:
# Ejemplo 5: Justificar a la derecha y llenar con ceros convirtiendo a cadena
num = 5
print("El valor de la variable num es: {}".format(str(num).zfill(3)))

El valor de la variable num es: 005

En el **ejemplo 5**, se utiliza el método `format() `para justificar el número numero a la derecha y agregar ceros a la izquierda hasta alcanzar una longitud total de 3 caracteres.  la diferencia es que aqui el numero entero se convierte a string y se utiliza un metodo de la clase string

---
**El método `format()` se introdujo en Python 2.6 como una forma más moderna y flexible de formatear cadenas que los antiguos operadores de formato % que se usaban antes. Desde entonces, `format()` se ha convertido en la forma estándar de formatear cadenas en Python, y sigue siendo ampliamente utilizado en la actualidad en versiones de Python 3.x.**

**Aunque las f-strings son una alternativa más reciente y conveniente en algunos casos, `format()` sigue siendo una herramienta muy útil y poderosa para dar formato a cadenas en Python. Además, `format()` es compatible con versiones antiguas de Python, lo que significa que sigue siendo una opción importante para proyectos que requieren compatibilidad hacia atrás.**

---

# **f-string**
Las `f-strings` son una forma más moderna y conveniente de dar formato a cadenas en Python. Se introdujeron en Python 3.6 y proporcionan una forma más legible y fácil de entender de incrustar valores de variables en cadenas. En lugar de tener que usar la función `format()`, las f-strings permiten incrustar valores de variables directamente en la cadena utilizando expresiones de Python encerradas entre llaves {}.

Las `f-strings` también permiten la interpolación de expresiones de Python más complejas, lo que las hace más flexibles que las cadenas formateadas tradicionales. Por ejemplo, se pueden utilizar operadores matemáticos, llamadas a funciones y otros constructos de Python dentro de una f-string para crear cadenas más complejas.

En general, las `f-strings` son una herramienta muy útil y poderosa para dar formato a cadenas en Python, y se utilizan ampliamente en la actualidad. Son más fáciles de leer y escribir que las cadenas formateadas tradicionales, y proporcionan una forma más directa y flexible de incrustar valores de variables en cadenas.

## **EJEMPLOS CON TIPOS DE DATOS BASICOS**

In [ ]:
num = 3.14159265
print(f"El valor de la variable num es: {num:.2f}")

El valor de la variable num es: 3.14

In [ ]:
num = 5
print(f"El valor de la variable num es: {num:.2f}")

El valor de la variable num es: 5.00

In [ ]:
num = 5
print(f"El valor de la variable num es: {str(num).zfill(3)}")

El valor de la variable num es: 005

In [ ]:
nombre = "PEDRITO"
appat = "YEPIZ"

print(f"El valor de la variable num es:{nombre.ljust(10)}{appat.ljust(10)}")

El valor de la variable num es:PEDRITO   YEPIZ

In [ ]:
nombre = "PEDRITO"
appat = "YEPIZ"

print(f"El valor de la variable num es:{nombre.rjust(10,'_')}{appat.rjust(10,'_')}")

El valor de la variable num es:___PEDRITO_____YEPIZ

## **OTROS EJEMPLOS Y USO DE f-string**

In [ ]:
# Uso de variables:

nombre = "Juan"
edad = 30
print(f"Hola, mi nombre es {nombre} y tengo {edad} años")
# Salida: Hola, mi nombre es Juan y tengo 30 años

In [ ]:
# Uso de expresiones matemáticas:

num1 = 10
num2 = 5
print(f"La suma de {num1} y {num2} es {num1+num2}")
# Salida: La suma de 10 y 5 es 15

In [ ]:
# Uso de expresiones booleanas:

es_mayor_edad = True
print(f"¿Es mayor de edad? {'Sí' if es_mayor_edad else 'No'}")
# Salida: ¿Es mayor de edad? Sí

In [ ]:
# Uso de métodos de cadenas:

nombre_completo = "Juan Pérez"
print(f"Mi nombre completo es {nombre_completo.upper()}")
# Salida: Mi nombre completo es JUAN PÉREZ

In [ ]:
# Uso de operadores condicionales:

edad = 15
print(f"{'Bienvenido' if edad >= 18 else 'Lo sentimos, debes ser mayor de edad'}")
# Salida: Lo sentimos, debes ser mayor de edad

In [ ]:
nombre = "Juan"
edad = 30
altura = 1.75

# Incluyendo variables simples
print(f"Hola, mi nombre es {nombre}, tengo {edad} años y mido {altura} metros.")

# Operaciones aritméticas y formateo numérico
print(f"La mitad de {edad} es {edad / 2:.2f}")

# Justificación de texto
print(f"{nombre.ljust(10)}{edad:>10}")

# Formateo de fechas y horas
import datetime
fecha_actual = datetime.datetime.now()
print(f"Hoy es {fecha_actual:%d-%m-%Y} y son las {fecha_actual:%H:%M}")

Hola, mi nombre es Juan, tengo 30 años y mido 1.75 metros.
La mitad de 30 es 15.00
Juan              30
Hoy es 06-03-2023 y son las 07:45

Las f-strings permiten crear cadenas de texto complejas y dinámicas en Python de manera sencilla y legible. Son muy utilizadas actualmente y se consideran una buena práctica en el desarrollo de aplicaciones en Python.
las f-strings te permiten crear cadenas de manera más fácil y legible, y es una forma más moderna de dar formato a las cadenas en Python.

 ---


# **CONCLUSION:**
Tanto `format(`) como las `f-strings` (f"...") son herramientas que permiten la interpolación de variables y expresiones en una cadena de texto en Python. Sin embargo, hay algunas diferencias importantes entre ambas:

* **Sintaxis:** La sintaxis de las f-strings es más concisa y legible que la sintaxis de format(). Con las f-strings, simplemente se escribe una cadena precedida por la letra "f" y se usan llaves para insertar las variables y expresiones. Con `format()`, se debe usar una cadena con llaves (`{}`) y luego llamar a la función `format() `en esa cadena, pasando las variables y expresiones como argumentos.

* **Capacidad de personalización:** `format()` ofrece mucha más flexibilidad y opciones de formato que las f-strings. Con `format()`, se pueden especificar el ancho y la precisión para números, la justificación de texto, el formato de fecha y hora, etc. Las f-strings, por otro lado, ofrecen un conjunto más limitado de opciones de formato incorporadas.

* **Compatibilidad:** Las f-strings se introdujeron en Python 3.6, por lo que si estás usando una versión anterior de Python, no podrás usarlas. format(), por otro lado, está disponible en todas las versiones de Python desde la 2.6 en adelante, por lo que es más compatible con versiones antiguas de Python.

En general, las f-strings son más simples y legibles para la interpolación básica de variables y expresiones, mientras que format() es más adecuado para casos en los que se requiere una personalización compleja de la salida o una mayor compatibilidad con versiones antiguas de Python.

In [ ]:
num = 3.14159265
print("El valor de la variable num es: {:.2f}".format(num))

El valor de la variable num es: 3.14

In [ ]:
num = 3.14159265
print(f"El valor de la variable num es: {num:.2f}")

El valor de la variable num es: 3.14

In [ ]:
num = 5
print("El valor de la variable num es: {}".format(str(num).zfill(3)))

El valor de la variable num es: 005

In [ ]:
num = 5
print(f"El valor de la variable num es: {str(num).zfill(3)}")

El valor de la variable num es: 005

In [ ]:


numero = 67
print("{:0>5}".format(numero))

00042

In [ ]:

numero = 67
print(f"{numero:0>5}")

00042

In [ ]:
nombre = "Juan"
apellido = "Pérez"
nombre_completo = f"{nombre.upper()} {apellido.lower()}"
print(nombre_completo)
# Salida: JUAN pérez

JUAN pérez