<a href="https://colab.research.google.com/github/pedroyepiz/pythonHOY/blob/main/10_LISTAS_EN_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![python portada.png]()

# **10.- LISTAS EN PYTHON**
## **Introducción a Listas en Python:**
Las listas son un tipo de dato en Python que permite almacenar una colección de elementos en un solo lugar. Esto significa que podemos guardar varios elementos en una lista y acceder a ellos de manera fácil y ordenada. Las listas son uno de los tipos de datos más utilizados en Python, ya que son muy flexibles y se pueden utilizar para una amplia variedad de aplicaciones.

## **¿Qué son las listas?**
Las listas son una estructura de datos en Python que nos permiten almacenar una colección ordenada de elementos. Estos elementos pueden ser de diferentes tipos, como números, cadenas de texto, booleanos, y hasta otras listas. Una lista es similar a una matriz o vector en otros lenguajes de programación.

## **¿Qué "NO" son las listas?**
Las listas no son un tipo de dato primitivo en Python, como lo son los enteros, flotantes o booleanos. En realidad, son un tipo de dato compuesto, ya que pueden contener elementos de diferentes tipos y se pueden crear a partir de otros tipos de datos.

## **Características de las listas:**

**Las listas son mutables,** lo que significa que podemos cambiar su contenido.
Las listas pueden contener elementos de diferentes tipos.

**Los elementos de una lista** se almacenan en orden y se pueden acceder utilizando índices.

**Las listas son una estructura de datos flexible**, lo que significa que podemos agregar, eliminar o modificar elementos en cualquier momento.
¿Cómo se define una lista?

**Para definir una lista en Python**, usamos corchetes [] y separamos los elementos por comas. Por ejemplo:

```
lista = ["manzana", 26, 13.65, True]
```

La sintaxis de una lista es bastante simple. Se define una lista utilizando corchetes [] y los elementos se separan por comas, y los elementos pueden ser de diferentes tipos, a diferencia de un array

**Es importante destacar que las listas en Python son sensibles a mayúsculas y minúsculas, es decir, que mi_lista y mi_Lista son dos listas diferentes.**

En resumen, las listas en Python son una herramienta muy útil para manejar colecciones de datos de manera flexible y ordenada. La posibilidad de modificarlas y acceder a sus elementos mediante su índice las hace una estructura de datos muy versátil en el lenguaje Python.
**Se caracterizan por:**

*   Tienen orden.
*   Pueden contener elementos de distintos tipos.
*   Son mutables, es decir, pueden alterarse durante la ejecución de un programa.

## **CREACIÓN DE UNA LISTA**
* **usamos corchetes []** y separamos los elementos por comas. Por ejemplo:

```
lista = ["manzana", 26, 13.65, True]
```

* Es posible **crear listas vacías** y agregar elementos posteriormente utilizando el método append().

 
 ```
mi_lista_vacia = []

mi_lista_vacia.append(elemento1)

mi_lista_vacia.append(elemento2)

mi_lista_vacia.append(elemento3)

```

* **mediante la función list()**

>> **list(c)** : Crea una lista con los elementos de la secuencia o colección, Se pueden indicar los elementos separados por comas, mediante una cadena, o mediante una colección de elementos iterable.

```
lista = list([1, 2, 3])
```

**EJEMPLOS CREACION LISTAS**

In [9]:
# ASIGNANDO VALORES  Y USANDO CORCHETES
lista = ["manzana", 26, 13.65, True]

#usamos for para mostra valores

for elemento in lista:
    print(elemento)

manzana
26
13.65
True

In [10]:
# CREAR LISTA VACIA Y AGRAGAR ELEMENTOS CON append
lista = []
lista.append("MANZANA")
lista.append(36)
lista.append(13.45)
lista.append(False)

#USAMOS print PARA IMPRIMIR TODA LA LISTA
print (lista)

#usamos for para mostra valores
for elemento in lista:
    print(elemento)

#IMPRIMIR UN VALOR ESPECIFICO DE LA LISTA USANDO EL INDICE
print(not lista[3])

['MANZANA', 36, 13.45, False]
MANZANA
36
13.45
False
True

In [11]:
# funcion list
lista = list([1, 2, 3])
print ( lista )
lista = list("Python")
['P', 'y', 't', 'h', 'o', 'n']

[1, 2, 3]

['P', 'y', 't', 'h', 'o', 'n']



---

# **LISTAS**

Las listas se tratan de un tipo compuesto de dato que puede almacenar distintos valores (llamados ítems o elementos) ordenados entre [ ] y separados con comas:

In [12]:
numeros = [1,2,3,4]

print ("los numeros son: -->",numeros)

los numeros son: --> [1, 2, 3, 4]

**Índices y slicing**
Funcionan de una forma muy similar a las cadenas de caracteres:

In [13]:
datos = [4, "Una cadena", -15, 3.14, "Otra cadena",True]

print(datos[0])
print(datos[-2])
print(datos[2:4])

4
Otra cadena
[-15, 3.14]

**Suma de listas**

Da como resultado una nueva lista que incluye todos los ítems:

In [14]:
numeros = [1,5,7,3]
numeros=numeros + [5,6,7,8]
print ("LISTA numeros = ",numeros)

LISTA numeros =  [1, 5, 7, 3, 5, 6, 7, 8]

**Mutabilidad**

A diferencia de las cadenas, en las listas sí podemos modificar sus ítems utilizando índices:

In [15]:
pares = [0,2,4,5,8,10]
pares[3] = 6
pares

[0, 2, 4, 6, 8, 10]

In [16]:
pares = [0,2,4,5,8,10]
print (pares)
pares.append(12)
pares.append(7*2)
print (pares)

[0, 2, 4, 5, 8, 10]
[0, 2, 4, 5, 8, 10, 12, 14]

**enumerate**

In [17]:

lista=["GATINA","PELUSA","PELUSINA","MILO","KHALIFA"]
i=0

for cadena in lista:
    print (f" {[i]}{cadena} --> {len(cadena)} CARACTERES")
    i=i+1

 [0]GATINA --> 6 CARACTERES
 [1]PELUSA --> 6 CARACTERES
 [2]PELUSINA --> 8 CARACTERES
 [3]MILO --> 4 CARACTERES
 [4]KHALIFA --> 7 CARACTERES

In [18]:


lista = ["LIA","GATINA","PELUSA","PELUSINA","MILO","KHALIFA","MISHA"]
for i,cadena in enumerate(lista):
    print (f" {[i]}{cadena} --> {len(cadena)} CARACTERES")

print(len(lista))

 [0]LIA --> 3 CARACTERES
 [1]GATINA --> 6 CARACTERES
 [2]PELUSA --> 6 CARACTERES
 [3]PELUSINA --> 8 CARACTERES
 [4]MILO --> 4 CARACTERES
 [5]KHALIFA --> 7 CARACTERES
 [6]MISHA --> 5 CARACTERES
7

# **METODOS DE LA CLASE `list()`**

Integran funcionalidades internas como el método .append() para añadir un ítem al final de la lista:

**append()**

Añade un ítem al final de la lista:

In [19]:

lista = [1,2,3,4,5]
lista2 = lista
#print (id(lista),id(lista2))
lista.append("hola")
print (lista)

[1, 2, 3, 4, 5, 'hola']

**clear()**

Vacía todos los ítems de una lista:

In [20]:
lista = [1,2,3,4,5]
lista2 = lista
print (id(lista),id(lista2))
lista.append("hola")
print (lista)
lista.clear()
print (lista)
print (lista2)

139715105944064 139715105944064
[1, 2, 3, 4, 5, 'hola']
[]
[]

**extend()**

Une una lista a otra:

In [21]:
l1 = [1,2,2,3,3,3,3]
l2 = [4,5,6]
l3 = l1
l1.extend(l2)
l3.append(l2)
print (l1[6])
print (l3)
print(l3.count(3))

3
[1, 2, 2, 3, 3, 3, 3, 4, 5, 6, [4, 5, 6]]
4

**count()**

Cuenta el número de veces que aparece un ítem:

In [22]:
x=["Hola", "mundo", "Hola","cruel","despiadado"].count("Hola")
print (x)
print ([4,7,12,45,6,8,3,6].count(6))

2
2

**index()**

Devuelve el índice en el que aparece un ítem (error si no aparece):

In [23]:
try:
    i=["Hola", "mundo", "mundo"].index("mundo")
    print ("ESTA EN indice ",i)
except:
    print ("NO TA")

ESTA EN indice  1

**insert()**

Agrega un ítem a la lista en un índice específico:

**Primera posición (0):**

In [24]:
l = [1,2,3]
l.insert(0,2)
print (l)

[2, 1, 2, 3]

**Penúltima posición (-1):**

In [25]:
l = [5,10,2,4,7,2,15,25]
l.insert(-15,20) 
print (l)

[20, 5, 10, 2, 4, 7, 2, 15, 25]

**Última posición en una lista con len():**

In [26]:
l = [5,10,15,25]
n = len(l)
print (f" {l} TIENE {n}")
l.insert(n,30)
print (f" {l} TIENE {n}")

 [5, 10, 15, 25] TIENE 4
 [5, 10, 15, 25, 30] TIENE 4

**Una posición fuera de rango añade el elemento al final de la lista (999):**

In [27]:
l.insert(999, 800)
print (l)

[5, 10, 15, 25, 30, 800]

**pop()**

Extrae un ítem de la lista y lo borra:

In [28]:
l2 = []
l = [10,20,30,40,50]
x=l.pop()
l2.append(x)
print(l,l2)
#x=l.pop()
#l2.append(x)
#print(l,l2)
#x=l.pop(0)
#l2.append(x)
#print(l,l2)

[10, 20, 30, 40] [50]

**NOTA:**
Podemos indicarle un índice con el elemento a sacar (0 es el primer ítem):

In [29]:
print(l.pop(0))
print(l)

10
[20, 30, 40]


**remove()**

Borra el primer ítem de la lista cuyo valor concuerde con el que indicamos:

In [30]:
l = [20,30,30,30,40]
l.remove(30)
print(l)

[20, 30, 30, 40]

____

**reverse**()

Le da la vuelta a la lista actual:

In [31]:
l.reverse()
print(l)

[40, 30, 30, 20]

**Las cadenas no tienen el método .reverse() pero podemos simularlo haciendo unas conversiones:**

In [32]:
lista = list("Hola mundo")
lista.reverse()
cadena = "".join(lista)
cadena

'odnum aloH'

**sort()**

Ordena automáticamente los ítems de una lista por su valor de menor a mayor:

In [33]:
lista = [5,-10,35,0,-65,100]
lista.sort()
lista

[-65, -10, 0, 5, 35, 100]

**Podemos utilizar el argumento reverse=True para indicar que la ordene del revés:**

In [34]:
lista.sort(reverse=True)
lista

[100, 35, 5, 0, -10, -65]

**FUNCION sorted**

In [35]:
alumnos = ["JUAN","PEDRITO","MARIA","ESTEFANIA","JESUS","NOELIA"]
sorted_alumnos = sorted(alumnos)
print(alumnos)
print(sorted_alumnos)

['JUAN', 'PEDRITO', 'MARIA', 'ESTEFANIA', 'JESUS', 'NOELIA']
['ESTEFANIA', 'JESUS', 'JUAN', 'MARIA', 'NOELIA', 'PEDRITO']

**FUNCION len**

In [36]:
palabra = "papel"
alumnos = ["JUAN","PEDRITO","MARIA","ESTEFANIA","JESUS","NOELIA"]
print(len(palabra))
x=len(alumnos)
print (x)

#palabras = ["papel","platano","tu","estafilococo","cacatua","yo","sopa"]
#print(sorted(palabras))
#print(sorted(palabras,key=len))
#print(sorted(palabras,reverse=True))
#print(sorted(palabras,key=len,reverse=True))

5
6

# **SUBLISTAS**

`l[i:j:k] `: Devuelve la sublista desde el elemento de l con el índice i hasta el elemento anterior al índice j, tomando elementos cada k.

In [37]:
lista = ["P","E","D","R","I","T","O"]
print (lista[1:4])

print (lista[1:1])

print (lista[:-5])

print (lista[:])

print (lista[0:6:2])

print (lista)

['E', 'D', 'R']
[]
['P', 'E']
['P', 'E', 'D', 'R', 'I', 'T', 'O']
['P', 'D', 'I']
['P', 'E', 'D', 'R', 'I', 'T', 'O']

____

# **LISTADO DE METODOS DE LA CLASE `list()`**


| **Método**         | **Descripción**                                       | **Ejemplo básico**                                  |
| -------------- | ------------------------------------------------- | ----------------------------------------------- |
| **append()**      | Agrega un elemento al final de la lista            | `mi_lista.append("manzana")`                    |
| **clear()**       | Elimina todos los elementos de la lista            | `mi_lista.clear()`                              |
| **copy()**        | Crea una copia de la lista                         | `mi_copia_lista = mi_lista.copy()`              |
| **count()**        | Cuenta el número de elementos con un valor dado    | `mi_lista.count("manzana")`                     |
| **extend()**       | Agrega los elementos de una lista a otra lista     | `mi_lista.extend(["naranja", "pera"])`           |
| **index()**        | Devuelve el índice del primer elemento con un valor dado | `mi_lista.index("manzana")`                 |
| **insert()**       | Inserta un elemento en una posición especificada   | `mi_lista.insert(1, "banana")`                  |
| **pop()**          | Elimina y devuelve el último elemento de la lista  | `ultimo_elemento = mi_lista.pop()`              |
| **remove()**       | Elimina el primer elemento con un valor dado       | `mi_lista.remove("manzana")`                    |
| **reverse()**      | Invierte el orden de los elementos en la lista     | `mi_lista.reverse()`                            |
| **sort()**         | Ordena los elementos de la lista                   | `mi_lista.sort()`                               |
| **len()**          | Devuelve la longitud de la lista                   | `len(mi_lista)`                                 |
| **max()**          | Devuelve el elemento con el valor máximo           | `max(mi_lista)`                                 |
| **min()**          | Devuelve el elemento con el valor mínimo           | `min(mi_lista)`                                 |
| **sum()**          | Devuelve la suma de los elementos de la lista      | `sum(mi_lista)`                                 |
| **any()**          | Devuelve `True` si algún elemento es verdadero     | `any(mi_lista)`                                 |
| **all()**          | Devuelve `True` si todos los elementos son verdaderos | `all(mi_lista)`                             |
| **sorted()**       | Devuelve una lista ordenada                        | `sorted(mi_lista)`                              |
| **zip()**          | Combina dos listas en una lista de tuplas           | `mi_lista_combinada = zip(mi_lista1, mi_lista2)` |
| **enumerate()**    | Devuelve una lista de tuplas con índices y valores  | `lista_enumerada = enumerate(mi_lista)`         |

____

# **IMPORTANTE:**
> En Python, las listas son un tipo de datos mutables, lo que significa que se pueden cambiar después de haber sido creadas. Esto se logra mediante la asignación de nuevos valores a los índices de la lista, la eliminación de elementos existentes o la inserción de nuevos elementos en la lista.

> Cuando se utilizan **ciertas funciones o métodos en las listas, éstos pueden modificar directamente la lista original**, es decir, pueden cambiar la lista y actualizarla con nuevos valores o eliminar elementos existentes. A estas funciones se les llama **"métodos mutables" o "métodos modificadores".**

> Por otro lado, **hay otros métodos que no modifican la lista original sino que devuelven una nueva lista** que es una versión modificada de la lista original, sin cambiar la lista original. A estos métodos se les llama **"métodos inmutables" o "métodos no modificadores".**

> Es importante conocer la diferencia entre los métodos mutables y no mutables al trabajar con listas en Python, ya que la modificación accidental de la lista original puede provocar errores en el código y producir resultados inesperados. Por lo tanto, es necesario ser cuidadoso al elegir los métodos que se utilizan en cada caso y comprender cómo afectarán a la lista original.

# **OPERACONES QUE "NO" MODIFICAN UNA LISTA**

**len(l)** : Devuelve el número de elementos de la lista l.


**min(l)** : Devuelve el mínimo elemento de la lista l siempre que los datos sean comparables.

**max(l)** : Devuelve el máximo elemento de la lista l siempre que los datos sean comparables.

**sum(l)** : Devuelve la suma de los elementos de la lista l, siempre que los datos se puedan sumar.

**dato in l** : Devuelve True si el dato dato pertenece a la lista l y False en caso contrario.

**l.index(dato)** : Devuelve la posición que ocupa en la lista l el primer elemento con valor dato.

**l.count(dato)** : Devuelve el número de veces que el valor dato está contenido en la lista l.

**all(l)** : Devuelve True si todos los elementos de la lista l son True y False en caso contrario.

**any(l)** : Devuelve True si algún elemento de la lista l es True y False en caso contrario.

# **OPERACIONES QUE MODIFICAN UNA LISTA**

**l1 + l2** : Crea una nueva lista concatenan los elementos de la listas l1 y l2.

**l.append(dato)** : Añade dato al final de la lista l.

**l.extend(sequencia)** : Añade los datos de sequencia al final de la lista l.

**l.insert(índice, dato)** : Inserta dato en la posición índice de la lista l y desplaza los elementos una posición a partir de la posición índice.

**l.remove(dato)** : Elimina el primer elemento con valor dato en la lista l y desplaza los que están por detrás de él una posición hacia delante.

**l.pop([índice])** : Devuelve el dato en la posición índice y lo elimina de la lista l, desplazando los elementos por detrás de él una posición hacia delante.

**l.sort()**: Ordena los elementos de la lista l de acuerdo al orden predefinido, siempre que los elementos sean comparables.

**l.reverse()** : invierte el orden de los elementos de la lista l.