<a href="https://colab.research.google.com/github/pedroyepiz/pythonHOY/blob/main/16_IMPRESION_BONITA_(_lista_de_diccionarios).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Impresión bonita de un diccionario en Python**
* Utilice **pprint()** para imprimir un diccionario en Python
* Utilice **json.dumps()** para imprimir un diccionario en Python
* Usar **yaml.dump()** para imprimir un diccionario en Python
* Usar **dataframe del Modulo pandas** para imprimir un diccionario en Python

**IMPRESION NORMAL DE UN DICCIONARIO**

In [52]:
dicc = { "name": "Mia", "age": 32,"country":"Libano" }

In [53]:
dicc_list = [
        { "name": "Mia", "age": 32,"country":"Libano" },
        { "name": "Goku", "age": 33,"country":"Planeta Vegeta" },
        { "name": "Vegueta", "age": 28, "country":"Planeta Vegeta"},
        { "name": "Thor", "age": 48,"country":"Asgard" }
       ]

In [54]:
print (dicc)
print (dicc_list)

{'name': 'Mia', 'age': 32, 'country': 'Libano'}
[{'name': 'Mia', 'age': 32, 'country': 'Libano'}, {'name': 'Goku', 'age': 33, 'country': 'Planeta Vegeta'}, {'name': 'Vegueta', 'age': 28, 'country': 'Planeta Vegeta'}, {'name': 'Thor', 'age': 48, 'country': 'Asgard'}]

# **Utilice pprint() para imprimir un diccionario en Python**

**pprint** es un módulo de Python que proporciona la capacidad de imprimir de forma bonita los tipos de datos de Python para que sean más legibles. Este módulo también soporta la impresión bonita de diccionarios.

Dentro del módulo `pprint` hay una función con el mismo nombre `pprint()`, que es la función que se utiliza para la impresión bonita de la cadena u objeto dado.

Primero, declara un array de diccionarios. Después, imprímelo usando la función **pprint.pprint()**.

In [55]:
import pprint

dicc_list = [
        { "name": "Mia", "age": 32,"country":"Libano" },
        { "name": "Goku", "age": 33,"country":"Planeta Vegeta" },
        { "name": "Vegueta", "age": 28, "country":"Planeta Vegeta"},
        { "name": "Thor", "age": 48,"country":"Asgard" }
       ]

pprint.pprint(dicc_list)

[{'age': 32, 'country': 'Libano', 'name': 'Mia'},
 {'age': 33, 'country': 'Planeta Vegeta', 'name': 'Goku'},
 {'age': 28, 'country': 'Planeta Vegeta', 'name': 'Vegueta'},
 {'age': 48, 'country': 'Asgard', 'name': 'Thor'}]

In [56]:
import pprint
dicc_list = [
        { "name": {"nombre":"Mia","apellido":"De Yepiz"}, "age": 32,"country":"Libano" },
        { "name": {"nombre":"Goku","apellido":"Lopez"}, "age": 33,"country":"Planeta Vegeta" },
        { "name": {"nombre":"Vegueta","apellido":"Garcia"}, "age": 28, "country":"Planeta Vegeta"},
        { "name": {"nombre":"Thor","apellido":"De Tello"}, "age": 48,"country":"Asgard" }
       ]
pprint.pprint(dicc_list)

[{'age': 32,
  'country': 'Libano',
  'name': {'apellido': 'De Yepiz', 'nombre': 'Mia'}},
 {'age': 33,
  'country': 'Planeta Vegeta',
  'name': {'apellido': 'Lopez', 'nombre': 'Goku'}},
 {'age': 28,
  'country': 'Planeta Vegeta',
  'name': {'apellido': 'Garcia', 'nombre': 'Vegueta'}},
 {'age': 48,
  'country': 'Asgard',
  'name': {'apellido': 'De Tello', 'nombre': 'Thor'}}]

La salida de `pprint()` es definitivamente más legible. Lo que hace es romper cada elemento del diccionario en el array justo después de las comas mientras que también ordena los valores del diccionario por clave.

Si no quiere que sus pares clave-valor estén ordenados por clave, entonces `pprint()` no es la función que debe utilizar ya que su mecanismo de ordenación está incorporado en la función.

Otra cosa a tener en cuenta es que `pprint()` no imprimirá bien los objetos anidados, incluyendo los diccionarios anidados. Así que si espera que sus valores estén anidados, entonces esta no es la solución para eso también.

# **`json.dumps()` para imprimir un diccionario en Python**

La comprensión de listas es una forma relativamente más corta y muy elegante de crear listas que se formarán en función de los valores dados de una lista ya existente.

Podemos usar la comprensión de listas para devolver una lista que produzca los resultados de la búsqueda de la lista de diccionarios en Python.

El siguiente código usa la comprensión de listas para buscar una lista de diccionarios en Python.

In [57]:
import json

dicc_list = [
        { "name": {"nombre":"Mia","apellido":"De Yepiz"}, "age": 32,"country":"Libano" },
        { "name": {"nombre":"Goku","apellido":"Lopez"}, "age": 33,"country":"Planeta Vegeta" },
        { "name": {"nombre":"Vegueta","apellido":"Garcia"}, "age": 28, "country":"Planeta Vegeta"},
        { "name": {"nombre":"Thor","apellido":"De Tello"}, "age": 48,"country":"Asgard" }
       ]

print(json.dumps(dicc_list, sort_keys=False, indent=2))

[
  {
    "name": {
      "nombre": "Mia",
      "apellido": "De Yepiz"
    },
    "age": 32,
    "country": "Libano"
  },
  {
    "name": {
      "nombre": "Goku",
      "apellido": "Lopez"
    },
    "age": 33,
    "country": "Planeta Vegeta"
  },
  {
    "name": {
      "nombre": "Vegueta",
      "apellido": "Garcia"
    },
    "age": 28,
    "country": "Planeta Vegeta"
  },
  {
    "name": {
      "nombre": "Thor",
      "apellido": "De Tello"
    },
    "age": 48,
    "country": "Asgard"
  }
]

In [58]:
import json

dicc_list = [
        { "name": "Mia", "age": 32,"country":"Libano" },
        { "name": "Goku", "age": 33,"country":"Planeta Vegeta" },
        { "name": "Vegueta", "age": 28, "country":"Planeta Vegeta"},
        { "name": "Thor", "age": 48,"country":"Asgard" }
       ]

print(json.dumps(dicc_list, sort_keys=False, indent=2))

[
  {
    "name": "Mia",
    "age": 32,
    "country": "Libano"
  },
  {
    "name": "Goku",
    "age": 33,
    "country": "Planeta Vegeta"
  },
  {
    "name": "Vegueta",
    "age": 28,
    "country": "Planeta Vegeta"
  },
  {
    "name": "Thor",
    "age": 48,
    "country": "Asgard"
  }
]

# **Usar yaml.dump() para imprimir un diccionario en Python**

Otra forma de imprimir un diccionario es utilizando la función dump() del módulo yaml. Sirve el mismo propósito que la función json.dumps() pero en formato YAML en lugar de JSON.

Primero, instala el módulo YAML usando pip:

pip install pyyaml
o si usas Python 3 y pip3:

**pip3 install pyyaml**

Vamos a probarlo con el mismo ejemplo anidado utilizado en el ejemplo JSON.

Fíjate en el nuevo parámetro default_flow_style, que determina si el estilo de salida del volcado debe ser inline o block. En este caso, la salida debe ser de estilo bloque ya que queremos que sea legible, así que establece este parámetro a False.

In [59]:
!pip install pyyaml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyyaml in /usr/local/lib/python3.9/dist-packages (6.0)

In [60]:
import yaml

dicc_list = [
        { "name": "Mia", "age": 32,"country":"Libano" },
        { "name": "Goku", "age": 33,"country":"Planeta Vegeta" },
        { "name": "Vegueta", "age": 28, "country":"Planeta Vegeta"},
        { "name": "Thor", "age": 48,"country":"Asgard" }
       ]

print(yaml.dump(dicc_list, sort_keys=False, default_flow_style=False))

- name: Mia
  age: 32
  country: Libano
- name: Goku
  age: 33
  country: Planeta Vegeta
- name: Vegueta
  age: 28
  country: Planeta Vegeta
- name: Thor
  age: 48
  country: Asgard

In [61]:
import yaml
dicc_list = [
        { "name": {"nombre":"Mia","apellido":"De Yepiz"}, "age": 32,"country":"Libano" },
        { "name": {"nombre":"Goku","apellido":"Lopez"}, "age": 33,"country":"Planeta Vegeta" },
        { "name": {"nombre":"Vegueta","apellido":"Garcia"}, "age": 28, "country":"Planeta Vegeta"},
        { "name": {"nombre":"Thor","apellido":"De Tello"}, "age": 48,"country":"Asgard" }
       ]

#print(yaml.dump(dicc_list, sort_keys=False, default_flow_style=False))       
x=(yaml.dump(dicc_list, sort_keys=False, default_flow_style=False))
print (x)

- name:
    nombre: Mia
    apellido: De Yepiz
  age: 32
  country: Libano
- name:
    nombre: Goku
    apellido: Lopez
  age: 33
  country: Planeta Vegeta
- name:
    nombre: Vegueta
    apellido: Garcia
  age: 28
  country: Planeta Vegeta
- name:
    nombre: Thor
    apellido: De Tello
  age: 48
  country: Asgard

# **usar `pd.dataFrame()`   del modulo pandas**

Un DataFrame es una estructura de datos bidimensional en forma de tabla, proporcionada por la librería pandas en Python. Puedes pensar en un DataFrame como una hoja de cálculo en Excel o una tabla en una base de datos, donde los datos se organizan en filas y columnas. Los DataFrames son una de las principales estructuras de datos utilizadas en el análisis de datos y manipulación de datos en Python.

In [62]:
import pandas as pd
dicc_list =[
        { "name": "Mia", "age": 32,"country":"Libano" },
        { "name": "Goku", "age": 33,"country":"Planeta Vegeta" },
        { "name": "Vegueta", "age": 28, "country":"Planeta Vegeta"},
        { "name": "Thor", "age": 48,"country":"Asgard" }
       ]
salida=pd.DataFrame(dicc_list)
salida

      name  age         country
0      Mia   32          Libano
1     Goku   33  Planeta Vegeta
2  Vegueta   28  Planeta Vegeta
3     Thor   48          Asgard

In [63]:
import pandas as pd
dicc_list =[
        { "name": "Mia", "age": 32,"country":"Libano" },
        { "name": "Goku", "age": 33,"country":"Planeta Vegeta" },
        { "name": "Vegueta", "age": 28, "country":"Planeta Vegeta"},
        { "name": "Thor", "age": 48,"country":"Asgard" }
       ]
salida=pd.DataFrame(dicc_list)
print(salida)

      name  age         country
0      Mia   32          Libano
1     Goku   33  Planeta Vegeta
2  Vegueta   28  Planeta Vegeta
3     Thor   48          Asgard

En Pandas existen varias formas de dar una salida con estilo personalizado o aplicar formatos especiales a la presentación de los datos en un DataFrame. Algunas de las opciones incluyen:

* 1.-**df.to_string():** Puedes utilizar el método `to_string()` del DataFrame para convertirlo en una representación de cadena de caracteres con formato personalizado.

* 2.-**df.style:** Pandas proporciona el atributo style del DataFrame, que te permite aplicar estilos a la presentación de los datos. Puedes utilizar métodos como `background_gradient()`, `highlight_max()`, `highlight_min()`, `highlight_null()`, entre otros, para aplicar formatos especiales a los valores del DataFrame y resaltarlos en la salida.

In [65]:
print(salida.to_string(index=False))

   name  age        country
   Goku   33 Planeta Vegeta
    Mia   32         Libano
   Thor   48         Asgard
Vegueta   28 Planeta Vegeta

Se utiliza el método `to_string()` del DataFrame con el argumento `index=False` para imprimir el DataFrame en formato de tabla, **sin mostrar el índice**. Esto produce una salida bonita y bien formateada del diccionario.

In [64]:
# Ordenar el DataFrame por la columna 'name' en orden ascendente
salida = salida.sort_values(by='name', ascending=True)
print (salida)

      name  age         country
1     Goku   33  Planeta Vegeta
0      Mia   32          Libano
3     Thor   48          Asgard
2  Vegueta   28  Planeta Vegeta

In [66]:
salida.style.background_gradient(subset='age', cmap='Blues')

In [67]:
salida.style.highlight_max(subset='age', color='yellow', axis=0)
#style.highlight_max() en Pandas para resaltar el valor máximo en una tabla:

In [68]:
salida.style.highlight_min(subset='age', color='cyan', axis=0)
#style.highlight_min() en Pandas para resaltar el valor minimo en una tabla: